:root{
    --main-bg:#264653;
    --font-clr:#FAFAFF;
    --second-bg:#ffb703;
    --font-black:#000000;
}
@media (max-width:350px){
    html{
        font-size: 40%;
    }
    .logo{
        font-size: 1.5rem;
    }
    .home-details h2{
        font-size: 5px;  
    }
    .image-div{
        margin-left: 0rem;
    }
    .image-div img{
        margin-right: 0rem;
    }
    .input-area label{
        font-size: 10px;
    }
    .input-area{
        width: 100%;
    }
}
@media (max-width:592px){
    html{
        font-size: 60%;
    }
}
@media (max-width:768px){
    html{
        font-size: 70%;
    }
    .link-section{
        transform: translateX(100%);
        transition: all 0.5s;
    }
    nav{
        background-color: var(--main-bg);
        width: 100%;
        text-align: center;
        box-shadow:0px 0px 15px rgba(0,0,0,0.5);
    }
    nav ul li{
        display: block;
        line-height: 4;
    }
    .show-header{
        transform: translateX(0);
    }
    .menuIcon{
        display: block;
        margin-right: 1rem;
    }
    .home-details{
        margin-right: 5rem;
    }
    .home-details h2{
        font-size: 2rem;
    }
    .quote-content{
        width: 100%;
    }
}
@media (max-width:992px){
    html{
        font-size: 80%;
    }
}
